<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib_bower/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/animate.css" />
</head>
<body>
    <script src="~/lib_bower/jquery/dist/jquery.js"></script>
    <script src="~/lib_bower/bootstrap/dist/js/bootstrap.js"></script>
    <div class="wrapper animated fadeIn">
        <div class="container">
            @RenderBody()
        </div>
    </div>

</body>
</html>
