@page
@model IndexModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="row">
    @Html.AntiForgeryToken()

    <div class="row m-t-lg m-b-xl">
        <img src="~/css/patterns/logo.png" class="img-responsive" style="width: 167px; height: 78px; margin: auto" />
    </div>

    <div class="row m-t-lg m-b-xl">

    </div>

    <div class="row">
        <div class="col-12 m-b-md m-t-lg">
            <a class="btn btn-primary-orange btn-block pb-button-shadow" href='@Url.Page("take/index")'>взять powerbank</a>
        </div>
        <div class="col-12">
            <a class="btn btn-primary-orange btn-block pb-button-shadow" href='@Url.Page("tutorial/index")'>как это работает?</a>
        </div>
    </div>
</div>