@page
@model PowerBankAdmin.Pages.IndexModel

    <h3>
        Hi @Model.Name 
    </h3>
    @{ 
        foreach(var a in Model.Ints)
        {
            <h2>@a</h2>
            
        }
    }
    <a class="btn btn-circle btn-danger" href="@Url.Page("/Users/Index")">Go To Users</a>
