@page
@model IndexModel

    @*<h3>
        Hi @Model.Name 
    </h3>
    @{ 
        foreach(var a in Model.Ints)
        {
            <h2>@a</h2>
            
        }
    }*@

    @*<h1>@Model.User.Login</h1>*@

    <form method="post">
        <input type="submit" value="Logout" class="btn btn-circle btn-danger" href="@Url.Page("/Users/Index")"/>
    </form>
