
.pb-style{
    color: #16bdf0;
    background: #1f2124;
}

.form-control[disabled].pb-style{
    color: #16bdf0;
    background: #1f2124;
}

input.pb-style{
    background: #1f2124;
    border-width: 0;
    border-bottom-width: 2px;
    border-bottom-color: #16bdf0;
    margin-bottom: 10px;
}

.pb-button-style{
    background: #1f2124;
    border-color: #16bdf0;
    border-radius: 5px;
    margin-top: 10px;
}

p.pb-text-grey-style{
    font-size: 17px;
    font-weight: lighter;
    color: #7d7d7d;
}

p.pb-text-orange-style{
    font-size: 17px;
    font-weight: lighter;
    color: #16bdf0;
}

.right{
    text-align: right;
}

.pb-hr-grey-style{
    border-color: #7d7d7d;
}

.pb-button-shadow{
    box-shadow: 0 0 10px rgba(22,189,240,0.5), 0 0 10px rgba(22,189,240,0.5) inset;
}

.pb-input-style {
    border-bottom-color: #16bdf0 !important;
    border-width: 0px;
    border-bottom-width: 2px;
    background-color: transparent;
    text-align: center;
    font-size: 13px;
}

.pb-input-style-left {
    border-bottom-color: #16bdf0 !important;
    border-width: 0px;
    border-bottom-width: 2px;
    background-color: transparent;
    text-align: left;
    font-size: 13px;
    padding: 6px 0 !important;
}

.pb-input-code-style{
    border-bottom-color: #16bdf0 !important;
    border-width: 0px;
    border-bottom-width: 2px;
    background-color: transparent;
    text-align: center;
    font-size: 20px;
    color: #16bdf0;
}

.pb-no-left-padding {
    padding-left: 0px
}

.pb-text-13 {
    font-size: 13px;
    font-weight: lighter;
    color: #16bdf0;
}

.pb-text-13-bold {
    font-size: 13px;
    font-weight: bold;
    color: #16bdf0;
}

.pb-text-17-bold {
    font-size: 17px;
    font-weight: bold;
    color: #16bdf0;
}

.pb-text-17-normal {
    font-size: 17px;
    font-weight: normal;
    color: #16bdf0;
}

.pb-text-17-light {
    font-size: 17px;
    font-weight: lighter;
    color: #16bdf0;
}

.pb-text-20-bold {
    font-size: 20px;
    font-weight: bold;
    color: #16bdf0;
}

.pb-text-20-light {
    font-size: 20px;
    font-weight: lighter;
    color: #16bdf0;
}

.pb-text-13-light {
    font-size: 13px;
    font-weight: lighter;
}

.pb-grey-style{
    color: #7d7d7d;
}

.pb-orange-style{
    color: #16bdf0;
}

.rotate11 {
  transform:          rotate(11deg);
  -ms-transform:      rotate(11deg);
  -moz-transform:     rotate(11deg);
  -webkit-transform:  rotate(11deg);
  -o-transform:       rotate(11deg);
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 20px;
  width: 20px;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 1px solid #16bdf0;
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: transparent;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: transparent;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid #16bdf0;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


.navbar-default {
    background: #391953 !important;
    border-right: 1.5px solid #16bdf0;
}

.navbar-static-top {
    background: transparent !important;
    box-shadow: none !important;
}


.navbar-minimalize {
    background: transparent;
    color: #16bdf0;
    border: transparent;
}

.page-title {
    margin: 20px 57px 20px 20px;
    color: #16bdf0;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}


/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

