
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 380px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.pb-style{
    color: #f58319;
    background: #1f2124;
}

.form-control[disabled].pb-style{
    color: #f58319;
    background: #1f2124;
}

input.pb-style{
    background: #1f2124;
    border-width: 0;
    border-bottom-width: 2px;
    border-bottom-color: #f58319;
    margin-bottom: 10px;
}

.pb-button-style{
    background: #1f2124;
    border-color: #f58319;
    border-radius: 5px;
    margin-top: 10px;
}

p.pb-text-grey-style{
    font-size: 17px;
    font-weight: lighter;
    color: #7d7d7d;
}

p.pb-text-orange-style{
    font-size: 17px;
    font-weight: lighter;
    color: #f58319;
}

.right{
    text-align: right;
}

.pb-hr-grey-style{
    border-color: #7d7d7d;
}

.pb-button-shadow{
    box-shadow: 0 0 10px rgba(160,89,88,0.5), 0 0 10px rgba(160,89,88,0.5) inset;
}

.pb-input-style{
    border-bottom-color: #F58319 !important;
    border-width: 0px;
    border-bottom-width: 2px;
    background-color: transparent;
    text-align: center
}