@page
@model Pages.Take.IndexModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    function inInputNumber(evt) {
        var ch = String.fromCharCode(evt.which);
        if (!(/[0-9]/.test(ch))) {
            evt.preventDefault();
        }
    }

    $(document).ready(function () {
        $(".c1").on("keyup", function () {
            if ($(this).val().length >= parseInt($(this).attr("maxlength"), 10))
                $(".c2").focus();
        })
        $(".c2").on("keyup", function () {
            if ($(this).val().length == 0) {
                $(".c1").focus();
                return;
            }
            if ($(this).val().length >= parseInt($(this).attr("maxlength"), 10))
                $(".c3").focus();
        })
        $(".c3").on("keyup", function () {
            if ($(this).val().length == 0) {
                $(".c2").focus();
                return;
            }
            if ($(this).val().length >= parseInt($(this).attr("maxlength"), 10))
                $(".c4").focus();
        })
        $(".c4").on("keyup", function () {
            if ($(this).val().length == 0) {
                $(".c3").focus();
                return;
            }
        })
    });
</script>

<div class="row">
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="text-center m-b-lg">
            <p class="p-power-now-bold-13">ВВЕДИ НОМЕР АВТОМАТА</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-1 col-md-10 col-xs-offset-1 col-xs-10">
            <form method="POST" id="enter-equipment-code-form">
                <div class="row col-12">
                    <div class="col-xs-3">
                        <input type="tel" name="c1" id="equipment-code-input1" maxLength="1" size="1" min="0" max="9" pattern="[0-9]"
                               class="form-control pb-input-code-style c1" placeholder="X" required=""
                               onkeypress="inInputNumber(event)">
                    </div>
                    <div class="col-xs-3">
                        <input type="tel" name="c2" id="equipment-code-input2" maxLength="1" size="1" min="0" max="9" pattern="[0-9]"
                               class="form-control pb-input-code-style c2" placeholder="X" required=""
                               onkeypress="inInputNumber(event)">
                    </div>
                    <div class="col-xs-3">
                        <input type="tel" name="c3" id="equipment-code-input3" maxLength="1" size="1" min="0" max="9" pattern="[0-9]"
                               class="form-control pb-input-code-style c3" placeholder="X" required=""
                               onkeypress="inInputNumber(event)">
                    </div>
                    <div class="col-xs-3">
                        <input type="tel" name="c4" id="equipment-code-input4" maxLength="1" size="1" min="0" max="9" pattern="[0-9]"
                               class="form-control pb-input-code-style c4" placeholder="X" required=""
                               onkeypress="inInputNumber(event)">
                    </div>
                </div>

                <div class="row" style="height: 36px">

                </div>

                <button type="submit" id="equipment-code-submit"
                        class="ladda-button btn btn-primary-orange btn-block pb-button-shadow"
                        m-b m-t-lg data-style="zoom-in">
                    Продолжить
                </button>
            </form>
        </div>
    </div>
    <div class="row m-t-lg m-b-xl"></div>
    <div class="row m-t-lg m-b-xl"></div>
    <div class="row m-b-lg">
        <div class="col-md-offset-1 col-md-10 col-xs-offset-1 col-xs-10">
            <span class="p-power-now-normal">Не рядом с оборудованием?</span>
            <span class="p-power-now-normal" style="font-weight: bold;">Найди ближайший на карте</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-1 col-md-10 col-xs-offset-1 col-xs-10">
            <a class="btn btn-primary-orange btn-block pb-button-shadow" href='@Url.Page("/map/index")'>найти</a>
        </div>
    </div>

</div>