@page
@model Pages.Take.IndexModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container  animated fadeInDown">
    @Html.AntiForgeryToken();
    <h1>Получить Power Bank </h1>
    <div class="animated fadeInRight" id="equipment-block">
        <div class="ibox">
            <div class="ibox-title">
                <h3>Определим устройство</h3>
            </div>

            <div class="ibox-content">
                <form class="m-t" method="POST" id="enter-equipment-code-form">
                    <span class="text-center text-danger">@Model.ErrorMessage</span>
                    <div class="form-group">
                        <input type="text" id="equipment-code-input" class="form-control" placeholder="Введите код" required="" data-mask="9-9-9-9">
                    </div>
                    <button type="submit" id="equipment-code-submit" class="ladda-button btn btn-primary full-width m-b" data-style="zoom-in">
                        Получить power bank
                    </button>
                </form>

                <div class="google-map" id="map2" style="position: relative; overflow: hidden;">
                </div>
            </div>
        </div>
    </div>

    <div class="animated fadeInRight" id="timer-equipment-block" style="display: none;">
        <h3>Время пошло!</h3>
        <h1 id="timer">00:00:00</h1>
    </div>

</div>