<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <partial name="Shared/_CssImports" />
    @*Html.ApplicationInsightsJavaScript(TelemetryConfiguration)*@
</head>
<body class="md-skin">
    <partial name="Shared/_JsImports" />

    <!-- Wrapper-->
    <div id="wrapper" >
        
        <!-- Navigation -->
        <partial name="Shared/_Navigation"/>

        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg" style="background: #f3f3f4; !important">

            <!-- Top Navbar -->
            <partial name="Shared/_TopNavbar" />

            <!-- Main view  -->
            @RenderBody()

            <!-- Footer -->
            <partial name="Shared/_Footer" />

        </div>
        <!-- End page wrapper-->

    </div>
    <!-- End wrapper-->

    

    @RenderSection("scripts", required: false)



</body>
</html>