@if (ViewData["HideFooter"] == null)
{
    <div class="footer animated fadeInDown hidden" id="footer">
        <div class="col-md-offset-12 col-sm-offset-12 col-lg-offset-12">
            <img src="@ViewData["City"]" style="width: 100%; height: 222px; border-color: transparent" />
        </div>
    </div>
}
else
{

}