@page
@model Pages.Info.AboutModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container row">
    <div class="row">
        <div class="col-12">
            <div class="col-xs-4">
                <p class="pb-text-13-light pb-orange-style">Ёмкость:</p>
                <p class="pb-text-13-light pb-orange-style">Разъёмы:</p>
                <p class="pb-text-13-light pb-orange-style">Размер:</p>
                <p class="pb-text-13-light pb-orange-style">Вес:</p>
            </div>
            <div class="col-xs-8">
                <p class="pb-text-13-bold">5000 mAh</p>
                <p class="pb-text-13-bold">Lightning / Type-C / MicroUSB</p>
                <p class="pb-text-13-bold">144 x 68 x 12 мм</p>
                <p class="pb-text-13-bold">0,2 кг</p>
                <img src="~/css/patterns/powerbankImage.png" style="width: 170px; height: 176px;" />
            </div>
        </div>
    </div>

    @*<hr />*@
    <div class="row m-b-lg m-t-lg" style="height: 1px; background: #c4c4c4">

    </div>

    <div class="row">
        <div class="col-12">
            <div class="col-xs-4">
                <p class="pb-text-13-light pb-orange-style">Кол-во слотов:</p>
            </div>
            <div class="col-xs-8">
                <p class="pb-text-13-bold" style="margin-top: 18px">8 шт.</p>
            </div>
        </div>
    </div>

        <div class="row">
        <div class="col-12">
            <div class="col-xs-4">
                <p class="pb-text-13-light pb-orange-style">Размер:</p>
            </div>
            <div class="col-xs-8">
                <p class="pb-text-13-bold">40 x 19 x 19 см</p>
                <img src="~/css/patterns/powerbank_holder.png" style="width: 218px; height: 174px; padding-right: 20px" />
            </div>
        </div>
    </div>
</div>