@page
@model Pages.Info.AgreementModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container row">

    ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ

    Настоящее пользовательское соглашение (далее – «Пользовательское соглашение») представляет собой договор между пользователем Сервиса «Power Now» (далее – «Пользователь») и Индивидуальным предпринимателем Хашимовым Мирзоахрулло Мирзонарзуллоевичем, именуемым в дальнейшем «Арендодатель»:

    Стороны заключают настоящее Пользовательское соглашение, руководствуясь положениями статей 421 (Свобода договора) и 428 (Договор присоединения) Гражданского кодекса Российской Федерации.

    1. ТЕРМИНЫ И ОПРЕДЕЛЕНИЯ

    В настоящем Пользовательском соглашении и/или Приложениях к нему используются следующие термины, имеющие определенное ниже значение. В случае, если в Пользовательском соглашении и/или Приложениях к нему используются термины и понятия, не определенные в настоящем разделе Пользовательского соглашения, они имеют значения, которые обычно придаются им в соответствующей отрасли/сфере.

    - Автомат – устройство, обеспечивающее прием и выдачу портативных зарядных устройств Пользователю, их зарядку, а также идентифицирующий̆ принадлежность зарядного устройства Пользователю;

    - Пользователь – физическое лицо, отвечающее требованиям настоящего Пользовательского соглашения и соответствующих

    - Арендодатель – собственник автомата для выдачи портативных Зарядных устройств, предоставляющий̆ Зарядное устройство; Индивидуальный предприниматель Хашимов Мирзоахрулло Мирзонарзуллоевич (ОГРНИП 317774600552890 ИНН 971506537601, адрес местонахождения: 127566 город Москва, Юрловский проезд, дом 14, корпус 4, квартира 324), а также иные лица, которым в соответствии с законом и / или настоящим Пользовательским соглашением перешли права Арендодателя по настоящему Пользовательскому соглашению, в том числе организация, обслуживающая Автомат (собственники Зарядных устройств в соответствии с заключенным с Арендодателем Пользовательским соглашением; либо арендатор Автомата в соответствии с заключенным с Арендодателем Пользовательским соглашением.

    - Залог – доступ к прокату Зарядных устройств, включающий̆ в себя право пользования любым Автоматом, согласно выбранной̆ Пользователем системы платы в соответствии с Приложением № 3 к настоящему Пользовательскому соглашению;

    - Зарядное устройство – портативное зарядное устройство (аккумулятор) для мобильных устройств Powerbank;

    - Личный̆ кабинет – web-страница на сайте Арендодателя, в Приложении, в автомате, содержащая необходимую информацию о прокате зарядного устройства (портативного аккумулятора - Powerbank) для конкретного Пользователя;

    - Логин – уникальное наименование, идентифицирующее Пользователя после регистрации в личном кабинете;

    - Оплата залога – действия Пользователя, направленные на оплату услуг Арендодателя, путем принятия настоящего Пользовательского соглашения и оплаты залога для доступа к автоматам в соответствии с установленной̆ системой̆ оплаты, указанной̆ в Приложении № 3 к настоящему Пользовательскому соглашению.

    - Приложение – программа для осуществления регистрации Пользователя для получения доступа в личный̆ кабинет; поиска на карте автоматов, расположенных на автомате для получения power bank, пополнения счета, просмотра статистики и получения необходимой̆ информации при пользовании зарядным устройством (портативным аккумулятором - Powerbank);

    Приложений к нему, прошедшее процедуры Регистрации и Авторизации и присоединившееся к настоящему Пользовательскому соглашению в соответствии с его требованиями.

    - Пароль (ПИН-код) – код подтверждения уникального кода, необходимого для доступа в личный̆ кабинет;

    - Почасовая плата (аренда) – оплата Пользователем аренды (проката) зарядного устройства (портативного аккумулятора - Powerbank) по тарифу, который̆ предполагает оплату за каждый̆ час аренды зарядного устройства;

    - Прокат – соглашение между Арендодателем и Пользователем, согласно которому Арендодатель предоставляет Пользователю зарядное устройство (портативный̆ аккумулятор - Powerbank) за плату во временное владение и пользование;

    - Регистрация в личном кабинете – заполнение Пользователем регистрационной̆ формы на Сайте, в Приложении или в Автомате с принятием условий настоящего Пользовательского соглашения;

    - Сайт – сайт Арендодателя в общем доступе – сети интернет по следующему адресу: www.power-now.ru; Сайт предоставляет Пользователю возможность использования Сервиса в части осуществления доступа к поиску и бронированию Зарядного устройства, а также к использованию иного функционала Сайта, доступного на момент обращения к нему.

    - Сервис «Power Now» – комплексная услуга Арендодателя, предоставляемая зарегистрированным и авторизованным Пользователям с помощью Приложения «Power Now» и/или Сайта и/или Автомата в режиме двадцать четыре часа, семь дней в неделю, без выходных и праздничных дней, заключающаяся в предоставлении Пользователям возможности поиска (выбора) и бронирования доступных Зарядных устройств, аренды (временного владения и пользования) Зарядных устройств.

    - Тарифы – расценки за пользование сервисом «Power Now», устанавливаемые Арендодателем в Приложении № 3 к настоящему Пользовательскому соглашению, а также Тарифы, отображаемые на Сайте и/или в Приложении и/или в Автомате «Power Now».

    2. ПРИСОЕДИНЕНИЕ ПОЛЬЗОВАТЕЛЯ К ПОЛЬЗОВАТЕЛЬСКОМУ СОГЛАШЕНИЮ

    2.1. Пользователь самостоятельно совершает загрузку (скачивание) на Устройство Приложения «Power Now» с использованием магазинов приложений AppStore (itunes.apple.com) и / или Google Play (play.google.com) в сети Интернет.

    2.2. Пользователь самостоятельно совершает необходимые действия по Регистрации и Авторизации в Приложении «Power Now» и/или на Сайте в соответствии с Приложением № 1.

    2.3. Заключение настоящего Пользовательского соглашения между Арендодателем и Пользователем осуществляется путем присоединения Пользователя к определенным Арендодателем и изложенным в настоящем Пользовательском соглашении условиям в соответствии со статьей 428 Гражданского кодекса Российской Федерации.

    2.4. Пользовательское соглашение считается заключенным (Пользователь считается присоединившимся к Пользовательскому соглашению) с даты завершения Регистрации Пользователя на Сайте и/или в Приложении и/или в Автомате «Power Now» (с даты успешной Регистрации), в обязательном порядке сопровождающейся проверкой Пользователя Арендодателем и принятием Пользователем условий Пользовательского соглашения «Power Now».

    2.5. Полноценным и окончательным подтверждением присоединения Пользователя к условиям Пользовательского соглашения

    (заключением Пользовательского соглашения) считается совершение Пользователем действий по Регистрации на Сайте и/или в Приложении и/или в Автомате «Power Now» (успешная Регистрация), в обязательном порядке сопровождающаяся проверкой Пользователя Арендодателем и принятием Пользователем условий Пользовательского соглашения «Power Now» (в указанном случае Стороны приравнивают действия по Регистрации, в обязательном порядке сопровождающиеся принятием Пользователем условий Пользовательского соглашения «Power Now».

    2.6. Заключая настоящее Пользовательское соглашение (присоединяясь к Пользовательскому соглашению), Пользователь заявляет, гарантирует и подтверждает, что он:

    - владеет русским языком на уровне, достаточном для прочтения и осознания смысла и значения Пользовательского соглашения и всех Приложений к нему;

    - прочитал условия Пользовательского соглашения и Приложений к нему, осознал значение и смысл указанных документов, согласен с их содержанием и обязуется выполнять установленные ими требования, а также понимает все последствия своих действий по присоединению к настоящему Пользовательскому соглашению и дальнейшему пользованию Сервисом «Power Now»;

    - предоставил Арендодателю при присоединении к настоящему Пользовательскому соглашению полные, действительные и достоверные персональные данные;

    - соответствует всем требованиям, предъявляемым к нему Пользовательским соглашением и Приложениями к нему;

    - согласен с обработкой своих персональных данных Арендодателем в соответствии с Пользовательским соглашением и действующим законодательством РФ;

    - согласен с тем, что размер нанесенных Арендодателю убытков, возникших в результате нарушения

    Пользователем любых его гарантий и обязательств по настоящему Пользовательскому соглашению, определяется единолично Арендодателем и по его усмотрению, и безусловно соглашается возмещать Арендодателю такие убытки.

    2.7. При использовании Сервиса «Power Now» и Зарядного устройства Пользователь обязуется соблюдать требования действующего законодательства Российской Федерации, а также условия Пользовательского соглашения и приложений к нему, пользоваться Зарядным устройством с надлежащей заботой и добросовестностью.

    2.8. При осуществлении платеже й Пользователь обязуется соблюдать требования платежной системы ООО НКО «Яндекс.Деньги». Требования платежной системы содержатся в Приложении №5 к настоящему Пользовательскому соглашению. Принимая настоящее Пользовательское соглашение, Пользователь соглашается с условиями осуществления платежей ООО НКО «Яндекс.Деньги».

    2.9. Ознакомление с условиями настоящего Пользовательского соглашения должно быть произведено Пользователем до момента

    начала пользования Сервисом «Power Now», при этом текст настоящего Пользовательского соглашения будет доступен Пользователю на Сайте Арендодателя и/или в Приложении и/или в Автомате «Power Now». Пользователь, своевременно не ознакомившийся с условиями Пользовательского соглашения, принимает на себя все риски, связанные с этими неблагоприятными последствиями.

    3. ПРЕДМЕТ ПОЛЬЗОВАТЕЛЬСКОГО СОГЛАШЕНИЯ

    3.1. Арендодатель обязуется предоставлять Пользователю Сервис «Power Now» на условиях настоящего Пользовательского соглашения, а Пользователь обязуется пользоваться Сервисом «Power Now» и Зарядным устройством в соответствии с положениями настоящего Пользовательского соглашения и Приложений к нему, и своевременно и в полном объеме оплачивать платежи, предусмотренные настоящим Пользовательским соглашением и Тарифами.

    4. ПРАВА И ОБЯЗАННОСТИ СТОРОН

    4.1. Права Пользователя:

    4.1.1. требовать от Арендодателя исполнения им своих обязательств по Пользовательскому соглашению;

    4.1.2. пользоваться Сервисом «Power Now», использовать арендованное Зарядное устройство в соответствии с условиями Пользовательского соглашения, Приложений и требованиями действующего законодательства Российской Федерации;

    4.2. Обязанности Пользователя:

    4.2.1. при присоединении к настоящему Пользовательскому соглашению (заключении Пользовательского соглашения) предоставить Арендодателю способами, определенными в настоящем Пользовательском соглашении и Приложениях к нему, адрес электронной почты и номер телефона, зарегистрированного на Пользователя;

    4.2.2. принять в соответствии с условиями настоящего Пользовательского соглашения и бережно использовать Зарядное устройство в строгом соответствии с настоящим Пользовательским соглашением и Приложениями, инструкциями и рекомендациями Арендодателя, в том числе, Службы поддержки, принимать все возможные меры к предотвращению нанесения ущерба Зарядному устройству;

    4.2.3. своими силами (только лично) осуществлять владение и пользование Зарядным устройством. Передача Зарядного устройства третьим лицам запрещена;

    4.2.4. обеспечивать сохранность Зарядного устройства, и кабеля к нему в соответствии с условиями настоящего Пользовательского соглашения и Приложения № 2;

    4.2.5. при пользовании Зарядного устройства соблюдать требования техники безопасности, указанные в Приложении №2;

    4.2.6. своевременно, в соответствии с условиями настоящего Пользовательского соглашения, вносить любые платежи, предусмотренные Пользовательским соглашением и Приложениями к нему, обеспечивать остаток денежных средств на банковской карте в количестве, достаточном для осуществления всех платежей, предусмотренных настоящим Пользовательским соглашением и Приложениями к нему;

    4.2.7. по окончании использования Зарядного устройства, возвратить его Арендодателю в надлежащем техническом состоянии в порядке, предусмотренном настоящим Пользовательским соглашением;

    4.2.8. принимать надлежащие меры для защиты и сохранения в тайне информации, используемой для Авторизации в Приложении «Power Now» и/или на Сайте, включая логин и пароль, от несанкционированного использования другими лицами и незамедлительно сообщать Арендодателю соответствующую информацию в случае обнаружения факта такого использования. Независимо от факта сообщения или не сообщения Арендодателю указанной информации Пользователь несет все риски неблагоприятных последствий, включая ответственность Пользователя, предусмотренную Пользовательским соглашением, Приложениями к нему и применимым законодательством, связанных с использованием третьими лицами информации, используемой для Авторизации в Приложении «Power Now» и/или на Сайте, включая логин и пароль;

    4.2.9. в случае смены номера мобильного телефона, и иных данных (ФИО, адрес электронной почты), указанных при Регистрации, сообщить об этом Арендодателю. Пользователь несет все риски неблагоприятных последствий, связанных с отсутствием такого сообщения;

    4.2.10. использовать Сайт, Приложение «Power Now» только в личных некоммерческих целях, не связанных с осуществлением предпринимательской деятельности Пользователем;

    4.2.11. самостоятельно отслеживать изменения условий Пользовательского соглашения и Приложений к нему, а также изменения на Сайте и/или в Приложении и/или в Автомате «Power Now»;

    4.2.12. не использовать никакие технологии и не предпринимать никаких действий, которые могут нанести вред Сайту и/или Приложению и/или в Автомату «Power Now», интересам и имуществу Арендодателя;

    4.2.13. Пользователь не вправе производить какие-либо улучшения/ухудшения в Зарядном устройстве, изменять какие-либо технические характеристики, монтировать (демонтировать) какое-либо оборудование, осуществлять ремонт (независимо от степени сложности) или организовывать его осуществление третьими лицами, если такие действия не согласованы со Службой поддержки Арендодателя;

    4.2.14. Пользователь не вправе распоряжаться Зарядным устройством никаким образом (в том числе, передавать в субаренду, отдавать в залог, продавать и т.п.), а также передавать каким-либо третьим лицам свои права по настоящему Пользовательскому соглашению;

    4.2.15. незамедлительно (при первой возможности) извещать Службу поддержки об ущербе, нанесенному Зарядному устройству и/или в случае его потери;

    4.2.16. соблюдать иные положения действующего законодательства Российской Федерации, положения

    настоящего Пользовательского соглашения и требования Арендодателя.

    4.3. Права Арендодателя:

    4.3.1. требовать от Пользователя исполнения обязательств по Пользовательскому соглашению;

    4.3.2. осуществлять списание с банковской карты Пользователя денежных средств в оплату денежных обязательств Пользователя перед Арендодателем в соответствии с Пользовательским соглашением и Приложениями к нему, в том числе, в случаях, предусмотренных Пользовательским соглашением, в без акцептном порядке (без получения дополнительного согласия Пользователя);

    4.3.3. определять и в любой момент изменять порядок и правила пользования Сервисом «Power Now» и использования Зарядных устройств с соблюдением процедуры, предусмотренной настоящим Пользовательским соглашением;

    4.3.4. в случае возникновения подозрений в недобросовестности Пользователя (в частности, подозрений в попытке кражи/хищения Зарядного устройства, невозможности списания денежных средств за предоставленные услуги или недостаточности таких средств и пр.) заблокировать возможность пользования Сервисом «Power Now» полностью или в части;

    4.3.5. уступить свои права по взысканию задолженностей, образовавшихся за Пользователем по настоящему Пользовательскому соглашению, любым третьим лицам, в соответствии с действующим законодательством РФ без согласия Пользователя, но с уведомлением Пользователя о такой уступке;

    4.3.6. иметь иные права, установленные Пользовательским соглашением и вытекающие из существа обязательств по Пользовательскому соглашению.

    4.4. Обязанности Арендодателя:

    4.4.1. предоставлять Пользователю Зарядное устройство при условии внесения Пользователем платы;

    4.4.2. своевременно, за свой счет, производить тесты на работоспособность Зарядного устройства;

    5. ПОРЯДОК РАСЧЕТОВ

    5.1. За пользование Сервисом «Power Now» Пользователь уплачивает Арендодателю вознаграждение согласно Тарифам. Вознаграждение не облагается налогом на добавленную стоимость согласно ст. 145.1 НК РФ

    5.2. Расчет стоимости пользования Сервисом «Power Now», происходящий в момент изменения Тарифов, производится на основании Тарифов, действующих на момент начала оказания соответствующей услуги, предусмотренной Сервисом «Power Now». Арендодатель вправе при расчете округлить итоговую сумму до целых рублей в большую сторону.

    5.3. Платежи по Пользовательскому соглашению осуществляются посредством списания денежных средств с банковской карты Пользователя. Арендодатель вправе привлекать к осуществлению процесса приема платежей агентов (платежные системы).

    5.4. В случае успешного прохождения Пользователем процесса Регистрации на Сайте и/или в Приложении и/или в Автомате «Power Now» Пользователь должен привязать (ввести данные) к Сервису «Power Now» свою(и) банковскую(ие) карту(ы), которые автоматически интегрируются с Сервисом «Power Now» и с которых будут списываться денежные средства в счет платежей, предусмотренных Пользовательским соглашением. Допускается использование банковских карт только тех платежных систем, которые указаны на Сайте и/или в Приложении и/или в Автомате «Power Now», с наличием возможности совершения интернет-платежей. Возможность совершения интернет-платежей обеспечивается Пользователем самостоятельно через банк эмитент банковской карты. Денежные средства в счет платежей, предусмотренных Пользовательским соглашением, списываются Арендодателем с банковской карты привязанной Пользователем и выбранной в качестве основной банковской карты.

    5.5. При привязке Пользователем каждой банковской карты, а также перед каждым началом использования Сервиса «Power Now», может производиться проверка положительного баланса на банковской карте Пользователя, для чего производится списание денежной суммы в размере не более 49 (сорока девяти) рублей, с возвратом ее на банковскую карту Пользователя в течение 24 часов с момента списания.

    5.6. Списание денежных средств с банковской карты Пользователя осуществляется в размерах, предусмотренных действующими Тарифами и иными условиями Пользовательского соглашения. Списание денежных средств может осуществляться как во время аренды Зарядного устройства, так и после прекращения аренды Зарядного устройства Пользователем, при нарушении Пользователем условий Пользовательского соглашения (штрафы) и в иных случаях, и в иные моменты, установленные Пользовательским соглашением и Приложениями. Арендодатель вправе уведомлять Пользователя о факте списания денежных средств во всех случаях, однако, Пользователь обязуется самостоятельно обеспечить подключение услуги sms-информирования о списаниях с карты через банк-эмитент банковской карты и самостоятельно отслеживать указанные списания.

    5.7. Арендодатель вправе производить списание с банковской карты Пользователя причитающихся ему платежей в любой момент до наступления момента завершения аренды.

    5.8. По результатам списания денежных средств с банковской карты Пользователя, Арендодателем, на электронный адрес Пользователя, указанный при регистрации в Сервисе «Power Now» высылается электронный чек. При этом окончательное списание денежных средств за пользование услугами Сервиса «Power Now», с расчетного счета Пользователя, происходит в течение 2 (двух) банковских дней с момента завершения аренды.

    5.9. В случае недостаточности денежных средств на банковской карте Пользователя, Арендодатель уведомляет об этом Пользователя посредством направления Пользователю соответствующего смс-сообщения. Данная информация также отображается в Приложении «Power Now». Пользователь обязуется погасить возникшую задолженность в течение 24 часов с момента направления уведомления Арендодателем, обеспечив достаточный для проведения списания остаток средств на банковской карте, при этом до момента погашения возникшей задолженности Арендодатель вправе присвоить Пользователю статус должника и заблокировать ему доступ к Сервису «Power Now» полностью или в части (о такой

    блокировке Арендодатель уведомляет Пользователя любым удобным для Арендодателя способом).

    5.10. В совершении платежей с использованием банковской карты Пользователю может быть отказано в случаях, предусмотренных законодательством и настоящим Пользовательским соглашением, в частности, в случае отсутствия опции банковской карты на совершение интернет-платежей; недостаточности средств на банковской карте; неверном вводе данных банковской карты; истечении срока действия банковской карты и т.д.

    5.11. В случае недостаточности денежных средств на банковской карте, или невозможности списания Арендодателем денежных средств с банковской карты по иным основаниям, а также при невозможности исполнить обязательства, Пользователь обязуется оплатить аренду Зарядного устройства и иные платежи по настоящему Пользовательскому соглашению в любом случае не позднее 2-х календарных дней с момента завершения аренды Зарядного устройства,

    5.12. В случае неисполнения Пользователем обязательств по оплате, предусмотренных настоящим Пользовательским соглашением (в том числе, настоящим разделом Пользовательского соглашения), Арендодатель вправе направить соответствующие сведения (включая персональные данные Пользователя) в уполномоченные органы для привлечения Пользователя к административной ответственности, а также в организации, осуществляющие взыскание денежных средств.

    5.13. В случае ошибочного списания денежных средств с банковской карты Пользователя Пользователь

    вправе обратиться к Арендодателю или по телефону в Службу поддержки, Арендодатель вправе потребовать от Пользователя предоставить копию паспорта и документов, подтверждающих ошибочное списание (выписки со счета и пр.). Возврат наличными денежными средствами не допускается.

    6. ОТВЕТСТВЕННОСТЬ СТОРОН

    6.1. За неисполнение или ненадлежащее исполнение своих обязательств по Пользовательскому соглашению Стороны несут ответственность в соответствии с действующим законодательством Российской Федерации и настоящим Пользовательским соглашением.

    6.2. За неисполнение или ненадлежащее исполнение Пользователем условий Пользовательского соглашения Пользователь обязуется уплачивать штрафы в размере, определенном в настоящем пункте:

    6.2.1. В случае любого повреждения внешнего вида/оформления Зарядного устройства, в том числе, оклеивания наклейками, Пользователь оплачивает штраф в размере 2 500 (две тысячи пятьсот) рублей за каждую поврежденную деталь Зарядного устройства;

    6.2.2. При использовании Зарядного устройства в предпринимательских, коммерческих целях, целях, связанных с извлечением выгоды, не предусмотренных (или запрещенных) Пользовательским соглашением, Пользователь оплачивает Арендодателю штраф в размере 2 500 (две тысячи пятьсот) рублей и возмещает причиненный Арендодателю ущерб (при наличии такового). При использовании Зарядного устройства не по прямому назначению и/или в иных целях, не предусмотренных (или запрещенных) Пользовательским соглашением, Пользователь оплачивает Арендодателю штраф в размере 2 500 (две тысячи пятьсот) рублей и возмещает причиненный Арендодателю ущерб (при наличии такового);

    6.2.3. При завершении аренды и оставлении Зарядного устройства вне зоны, разрешенной Арендодателем для завершения аренды согласно условиям настоящего Пользовательского соглашения, либо на территории, в которую нет общего доступа, и т.д., Пользователь оплачивает Арендодателю штраф в размере 2 500 (две тысячи пятьсот) рублей.

    6.2.4. В случае указания / предоставления Пользователем при Регистрации неполных, недостоверных ложных данных, Пользователь выплачивает Арендодателю штраф в размере 2 500 (две тысячи пятьсот) рублей;

    6.3. Оплата всех предусмотренных настоящим Пользовательским соглашением штрафов, а также любых иных платежей,

    предусмотренных условиями настоящего Пользовательского соглашения, производится в без акцептном порядке путем списания соответствующих денежных сумм с банковской карты Пользователя. В случае неисполнения или ненадлежащего исполнения Пользователем обязанностей, указанных в настоящем пункте (например, недостаточность денежных средств на банковском счета Пользователя и т. д.), Пользователь оплачивает Арендодателю штраф в размере 1000 (одна тысяча) рублей за каждые 3 (три) календарных дня просрочки оплаты.

    6.4. Арендодатель не несет ответственность ни за какой вред, причиненный имуществу и здоровью Пользователя и/или иных третьих лиц и за любые иные последствия принятия Пользователем Зарядного устройства в неисправном, неукомплектованном, непригодном к эксплуатации виде.

    7. СРОК ДЕЙСТВИЯ ПОЛЬЗОВАТЕЛЬСКОГО СОГЛАШЕНИЯ, ПОРЯДОК ЕГО ИЗМЕНЕНИЯ И РАСТОРЖЕНИЯ

    7.1. Пользовательское соглашение вступает в силу с момента его заключения и действует в течение неопределенного срока.

    7.2. Стороны договорились о том, что Арендодатель имеет право в любое время вносить изменения в условия Пользовательского соглашения, Приложений к Пользовательскому соглашению. Изменения в условия Пользовательского соглашения, Приложений к Пользовательскому соглашению осуществляются путем внесения изменений в существующую редакцию Пользовательского соглашения, Приложений, либо создания новой редакции Пользовательского соглашения, Приложений, и становятся обязательными для Сторон (вступают в силу) с даты размещения Арендодателем новой редакции Пользовательского соглашения, Приложений либо изменений, внесенных в Пользовательское соглашение, Приложения на Сайте и/или в Приложении и/или в интерфейсе Автомата «Power Now». В случае, если Пользователь не согласен с изменениями, он вправе отказаться от исполнения Пользовательского соглашения в указанный ниже срок, что не освобождает Пользователя от исполнения своих обязательств, возникших до прекращения

    отношений по Пользовательскому соглашению.

    7.3. При необходимости изменения Пользовательского соглашения и/или Приложений Арендодатель не менее чем за 5 (пять) календарных дней до даты вступления в силу таких изменений, если иной срок не установлен Пользовательским соглашением, доводит их до сведения Пользователя путем размещения соответствующей информации на Сайте и/или в Приложении и/или в интерфейсе Автомата «Power Now».

    В случае, если до момента вступления в силу изменений в Пользовательское соглашение и/или Приложения к нему Пользователь не отказался от исполнения Пользовательского соглашения (не подал заявление о расторжении Пользовательского соглашения), Стороны считают, что Пользователь поддерживает и соглашается с изменениями в Пользовательском соглашении и/или Приложениях к нему. Пользователь самостоятельно осуществляет мониторинг Сайта и / или Приложения на предмет изменения условий Пользовательского соглашения. Риск несоблюдения данного требования в полной мере ложится на Пользователя.

    7.4. Пользователь вправе в одностороннем порядке расторгнуть Пользовательское соглашение, уведомив об этом Арендодателя не позднее, чем за семь календарных дней до предполагаемой даты расторжения Пользовательского соглашения. При этом Пользователь обязуется исполнить все свои обязательства, вытекающие из Пользовательского соглашения и возместить все убытки, которые возникли в период его действия, не позднее даты прекращения Пользовательского соглашения.

    7.5. Расторжение Пользовательского соглашения по инициативе Пользователя осуществляется на основании собственноручно подписанного заявления Пользователя, переданного Пользователем Арендодателю.

    7.6. Арендодатель вправе в одностороннем внесудебном порядке в любой момент отказаться от исполнения Пользовательского соглашения без объяснения причин принятия такого решения. В этом случае Пользовательское соглашение считается прекращенным в момент отправки Пользователю уведомления.

    7.7. В части неисполненных обязательств Сторон прекращенный по любым основаниям Пользовательское соглашение продолжает действовать вплоть до исполнения указанных обязательств в полном объеме.

    8. РАЗРЕШЕНИЕ СПОРОВ И ПОДСУДНОСТЬ

    8.1. Все споры и разногласия разрешаются Сторонами путем переговоров и в претензионном порядке. Срок рассмотрения и ответа на претензию Стороной - 10 (десять) календарных дней.

    8.2. В случае, если Стороны не пришли к решению посредством переговоров и обмена претензиями в течение вышеуказанного срока, споры и разногласия передаются на разрешение судом по месту нахождения Арендодателя.

    9. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ

    9.1. Любая переписка, телефонные и иные переговоры, имевшие место до заключения Пользовательского соглашения, теряют

    юридическую силу с момента заключения Пользовательского соглашения.

    9.2. Если иное прямо не предусмотрено в Пользовательском соглашении, с момента заключения Пользовательского соглашения Стороны признают

    юридическую силу за документами, направленными по электронной почте (адреса электронной почты, указанные в Пользовательском соглашении, и адреса электронной почты Пользователя, указанные в процессе Регистрации), соглашаются с тем, что указанные документы являются равнозначными документам, составленным на бумажных носителях и подписанных собственноручной подписью соответствующего лица.

    9.3. Сообщения, направленные на электронную почту, считаются полученными адресатом в момент их отправки.

    9.4. Пользователь обязуется уведомлять Арендодателя об изменении места жительства (регистрации), места

    пребывания, номера мобильного телефона, адреса электронной почты, иных данных, предоставленных Пользователем Арендодателю, о перемене имени, фамилии, изменении реквизитов документа, удостоверяющего личность, изменении реквизитов или лишении водительского удостоверения, изменении данных документа, подтверждающего право иностранного гражданина/лица без гражданства на пребывание (проживание) на территории Российской Федерации, изменении гражданства, иных персональных данных, а также об утрате вышеуказанных данных, обратившись в Службу поддержки. Арендодатель не несет ответственность за какие-либо последствия, связанные с изменением указанных в настоящем пункте Пользовательского соглашения данных Пользователя, если Пользователь не оповестил об указанных в настоящем пункте

    Пользовательского соглашения обстоятельствах Арендодателя, и/или предоставил Арендодателю неверные данные.

    9.5. В части, не урегулированной Пользовательским соглашением и Приложениями к нему, отношения Арендодателя

    и Пользователя регулируются действующим законодательством Российской Федерации.

    9.6. Арендодатель вправе использовать факсимильное воспроизведение подписи уполномоченного лица

    Арендодателя (с помощью средств механического или иного копирования) в любых документах, в том числе в настоящем Пользовательском соглашении и Приложениях. Стороны признают юридическую силу за такими документами.

    9.7. Поскольку настоящее Пользовательское соглашение является смешанным договором и содержит элементы договоров различных видов, предусмотренных действующим гражданским законодательством РФ, к нему в соответствующих частях применяются нормы о соответствующих видах договоров.

    9.8. Арендодатель не несет ответственность за использование Приложения «Power Now» с Устройства

    Пользователя третьими лицами, в связи с чем все действия, совершенные с Устройства Пользователя, считаются действиями Пользователя. В случае, если какое-либо лицо получает доступ к функциональным возможностям Сайта или Приложения «Power Now» и возможность их использования от имени Пользователя, Пользователь обязан незамедлительно сообщить об этом Арендодателю в письменном виде (по электронной почте), либо обратившись в Службу поддержки.

    В противном случае все действия, совершенные от имени Пользователя с использованием Сайта или Приложения «Power Now», будут расцениваться как действия, совершенные непосредственно Пользователем.

    9.9. Арендодатель не несет ответственность за:

    - беспрерывную работу Сайта и/или Приложения и/или Автомата «Power Now»;

    - отсутствие ошибок и/или вирусов при работе Сайта и/или Приложения и/или Автомата «Power Now»;

    - прерывание каналов связи и выход из строя серверной инфраструктуры на уровне магистральных каналов связи, центров обмена данными, вычислительных центров, а также линий связи регионального и местного значения;

    - сбои и затруднения в работе глобальной сети Интернет или отдельных её сегментов, нарушения работы систем адресации (DNS) и т.д.;

    - несанкционированные действия третьих лиц, имеющие в качестве цели нанесение любого вида ущерба любой из Сторон, осуществленные с помощью электронных программных и/или аппаратных средств или их комбинаций, в том числе, намеренные действия по нарушению или перегрузке каналов связи, работоспособности серверной инфраструктуры, несанкционированному доступу к управлению программными комплексами и доступу к конфиденциальной информации (взломы, DDOS атаки, распространение вредоносного программного кода, вывод из строя программно-аппаратных средств и т.д.). Пользователь соглашается и подтверждает, что использует Сайт и/или Приложение и/или Автомат «Power Now» исключительно на свой собственный риск.

    9.10. Настоящее Пользовательское соглашение составлено на русском языке.

    Текст настоящего Пользовательского соглашения состоит из собственно текста настоящего Пользовательского соглашения, а также из текстов всех Приложений к настоящему Пользовательскому соглашению. Приложения к Пользовательскому соглашению составляют его неотъемлемую часть.

    9.11. Приложения к настоящему Пользовательскому соглашению:

    Приложение № 1 – Порядок регистрации и авторизации

    Приложение № 2 - Правила аренды и использования Зарядных устройств

    Приложение № 3 - Тарифы на использование Сервиса «Power Now»

    Приложение № 4 - Соглашение об обработке персональных данных

    Приложение №5 – Требования платежной системы

    10. РЕКВИЗИТЫ АРЕНДОДАТЕЛЯ

    Индивидуальный предприниматель Хашимов Мирзоахрулло Мирзонарзуллоевич
    ОГРН ИП 317774600552890 от 24.11.2017
    ИНН 971506537601
    ОКПО 0123086997
    127566, г. Москва, Юрловский проезд, д. 14, корп. 4, кв. 324
    Расчетный счет: 40802810000000067382
    Наименование банка АО "РАЙФФАЙЗЕНБАНК"
    БИК 044525700
    Кор. Счет 30101810200000000700
    ИНН/КПП 7720418796/773101001





    ПРИЛОЖЕНИЕ №1

    К ПОЛЬЗОВАТЕЛЬСКОМУ СОГЛАШЕНИЮ

    ПОРЯДОК РЕГИСТРАЦИИ И АВТОРИЗАЦИИ

    1. Пользователь самостоятельно совершает загрузку (скачивание) на Устройство Приложения «Power Now» с использованием магазинов приложений AppStore (itunes.apple.com) и / или Google Play (play.google.com) в сети Интернет.

    2. Использование Сайта www.power-now.ru и/или Приложения и/или Автомата возможно только при условии Регистрации Пользователя на Сайте и/или в Приложении и/или через интерфейс Автомата и Авторизации соответственно на Сайте и/или в Приложении и/или в Автомате.

    3. Для Регистрации Пользователя на Сайте и/или в Приложении и/или через интерфейс Автомата, Пользователь предоставляет контактный номер телефона. Некорректность (неточных) данных является основанием для отказа в Регистрации. На указанный Пользователем номер мобильного телефона Арендодателем автоматически генерируется и направляется по sms одноразовый код подтверждения (пароль), после ввода которого Пользователю предоставляется возможность осуществления действий, указанных в п.4 настоящего Приложения. В последующем при Авторизации на Сайте и/или в Приложении и/или в Автомате логином для доступа к личному кабинету Пользователя является номер мобильного телефона, указанный Пользователем при Регистрации.

    4. Пользователь не может завершить Регистрацию, не приняв условия Пользовательского соглашения «Power Now» путем проставления галочки во всплывающем окошке «Я принимаю условия Пользовательского соглашения».

    5. С момента Регистрации, Регистрация считается законченной (успешной), а Пользовательское соглашение – заключенным Сторонами.

    6. По окончании Регистрации Пользователя, Авторизация и доступ к Сайту и/или Приложению и/или интерфейсу Автомата, осуществляется при введении Пользователем логина и пароля.

    7. Пользователь обязуется сохранять в тайне логин и пароль, а также иные данные, посредством которых может быть получен доступ к Сайту и/или Приложению и/или Автомату от имени Пользователя. В случае утраты логина, пароля, или при наличии оснований полагать, что этими данными (а также иными данными) завладело третье лицо, Пользователь обязан с использованием контактных данных, указанных им при Регистрации, подать Арендодателю запрос (путем отправки на электронный адрес Арендодателя, либо обратившись в Службу поддержки) о блокировании доступа в личный кабинет, после чего получить другой пароль, а по согласованию с Арендодателем, также логин. Запрос о блокировании доступа в личный кабинет рассматривается Арендодателем в течение 1 (одного) часа с момента направления запроса. Все риски, вытекающие из невыполнения данного обязательства Пользователем, лежат на Пользователе.

    8. По окончании Регистрации все вызовы в Службу поддержки осуществляются с номера мобильного телефона, указанного при Регистрации, либо иного номера телефона при условии предоставления Пользователем дополнительных данных по запросу сотрудника Службы поддержки.

    9. Пользователь может изменить номер мобильного телефона, указанный им при Регистрации, обратившись в Службу поддержки или по электронной почте на адрес support@power-now.ru (при этом оператору Службы поддержки Пользователем сообщается контрольная информация).



    ПРИЛОЖЕНИЕ №2

    К ПОЛЬЗОВАТЕЛЬСКОМУ СОГЛАШЕНИЮ

    ПРАВИЛА АРЕНДЫ И ИСПОЛЬЗОВАНИЯ ЗАРЯДНЫХ УСТРОЙСТВ

    1. Арендодатель в целях обеспечения выдачи Зарядного устройства устанавливает Автоматы, устанавливая на Автоматах соответствующее программное обеспечение.

    2. Пользователь имеет право получить в аренду Зарядное устройство после регистрации в приложении «Power Now», в Личном кабинете на Сайте или в Автомате и оплате Залога и иных платежей̆ согласно тарифам, указанным в Приложении № 3 к настоящему Пользовательскому соглашению.

    3. Выдача Зарядного устройства осуществляется в Автоматах Арендодателя, схема размещения которых доступна на Сайте Арендодателя, в Приложении «Power Now» (при наличии активного интернет-соединения) или в Автомате Арендодателя.

    4. До момента начала использования Зарядного устройства Пользователь обязан ознакомиться с условиями настоящего Пользовательского соглашения и Пользовательским соглашением посредством интерфейса Сайта и/или Приложения и/или Автомата.

    5. После успешной̆ регистрации в Личном кабинете с помощью Логин и пароля Пользователь может получить Зарядное устройство в аренду, время аренды начинается сразу после выдачи Зарядного устройства Автоматом Пользователю. Стоимость услуги аренды указана в приложении №3 к настоящему Пользовательскому соглашению, на Сайте Арендодателя, в Приложении «Power Now» и/или в интерфейсе Автомата. Периодичность списания указана в Приложении.

    6. Пользователь вправе оплатить и пользоваться Зарядным устройством в любое время суток. Единовременно Пользователь вправе использовать не более одного Зарядного устройства.

    7. После получения из Автомата Зарядного устройства Пользователь обязан в течение 5 (пяти) минут проверить техническое состояние Зарядного устройства и в случае выявления неисправности в его работе, незамедлительно возвратить Зарядное устройство в Автомат, при этом Пользователь вправе взять в Автомате иное Зарядное устройство. В случае, если Пользователь в течение 1 (Одного) часа после получения Зарядного устройства не заявил о неисправности Зарядного устройства в Службу поддержки Арендодателя, устройство считается пригодным к использованию и Пользователь не вправе предъявлять претензии Арендодателю.

    8. Пользователь обязан использовать Зарядное устройство в точном соответствии с его назначением и не вносить в Зарядное устройство каких-либо конструкционных и иных изменений, не передавать Зарядное устройство в субаренду, в пользование третьим лицам, а также не передавать свои обязанности по Пользовательскому соглашению третьим лицам.

    9. После использования Пользователь обязан вернуть Зарядное устройство в технически исправном состоянии, соответствующем техническому состоянию на момент получения в Автомате зарядного устройства в любой̆ Автомат Сервиса «Power Now».

    10. Аренда Зарядного устройства прекращается с момента возврата Зарядного устройства в Автомат Арендодателя.

    11. В случае, если Пользователь возвращает Зарядное устройство, а Автомат его не определяет – не загорается синяя лампочка напротив Зарядного устройства и не останавливается таймер на сайте/Приложении, с Пользователя может быть списана полная стоимость Зарядного устройства. В случае обнаружения повреждения Зарядного устройства или его неисправностей Арендодателем возможно списание полной стоимости Зарядного устройства с карты Пользователя. При этом возвращенным считается Зарядное устройство, после возврата которого останавливается таймер на сайте/Приложении и горит синяя лампочка напротив Зарядного устройства. Если Пользователь не до конца вставит в Автомат Зарядное устройство, при этом контакты не будут сомкнуты, однако таймер остановиться и напротив Зарядного устройства загорится синяя лампочка, и заберет Зарядное устройство, Пользователю не возвращается Залог и списываются денежные средства за использование. При этом таймаут определение составит 15 (пятнадцать) минут, в течение которых связь с Зарядным устройством будет утеряна.

    12. В случае случайной̆ гибели либо случайного повреждения Зарядного устройства, либо причинения ущерба третьими лицами либо Пользователем, а также в случае хищения Зарядного устройства, Пользователь обязан незамедлительно сообщить об этом Арендодателю по телефону, указанному на Сайте и/или в Приложении и/или в интерфейсе Автомата и в срок не более двух календарных дней̆, представить Арендодателю письменные объяснения с описанием данного события.

    13. Арендодатель настоящим уведомляет, что неправильное использование / использование не по назначению Зарядного устройства может повлечь опасность для жизни и здоровья Пользователя. Пользователь понимает и соглашается, что он уведомлен о мерах по безопасности использования Зарядного устройства, указанных в настоящем Приложении и самостоятельно несет ответственность за свои действия. Использование Зарядного устройства не по назначению может повлечь также иные, не указанные в настоящем Приложении риски.

    14. Арендодатель не несет ответственности за вред, причиненный Пользователю Зарядным устройством, пригодным для использования в соответствии с п.7 настоящего Приложения. При наличии претензий к качеству Зарядного устройства, а также при наличии ущерба, вызванного использованием Зарядного устройства, Пользователь вправе предъявить претензии производителю Зарядного устройства. Арендодатель вправе предоставить контакты представительства производителя Зарядного устройства.

    Правила использования Зарядных устройств:

    1. Во время использования Зарядного устройства, проверьте правильность индикации зарядки для обеспечения правильной работы Зарядного устройства.

    2. Во время приема и подачи электроэнергии необходимо самостоятельно выбрать правильный кабель.

    3. Если во время зарядки цифровых устройств индикатор объема полностью погас, это означает, что аккумулятору необходима зарядка.

    4. При соединении аккумулятора с цифровыми устройствами цифровые устройства используют электроэнергию в первую очередь. Пользователь не вправе предъявлять претензии к Арендодателю в отношении ухудшения работы аккумуляторной батареи телефона Пользователя.

    5. После полной зарядки цифровых устройств необходимо своевременно отсоединять кабель для предотвращения возникновения неисправностей.

    6. Если из-за короткого замыкания или других причин изделие вошло в безопасный режим (светодиод возле кнопки включения не горит), необходимо подключение устройства к сети для возвращения в нормальный режим работы.

    Меры по безопасности использования Зарядного устройства:

    Зарядное устройство содержит в себе литейно-полимерную батарею.

    Строго запрещается:

    1. снимать внешнюю оболочку Зарядного устройства для предотвращения порчи батареи и связанных рисков.

    2. разборка Зарядного устройства,

    3. сжатие Зарядного устройства,

    4. проколы Зарядного устройства

    5. использование Зарядного устройства в воде и/или при контакте с иными жидкостями,

    6. помещение Зарядного устройства в воду,

    7. помещение Зарядного устройства в огонь,

    8. помещение Зарядного устройства в места с температурой выше 60°C (140°F) (баня/сауна/инфракрасная сауна);

    9. употреблять в пищу.



    ПРИЛОЖЕНИЕ №3

    К ПОЛЬЗОВАТЕЛЬСКОМУ СОГЛАШЕНИЮ

    ТАРИФЫ НА ИСПОЛЬЗОВАНИЕ СЕРВИСА «Power Now»

    1. Почасовая плата (стандартный̆ тариф) включает в себя:

    - выдачу в аренду Зарядного устройства с оплатой̆ за каждый̆ час аренды Зарядного устройства;

    Стоимость аренды (стандартный̆ тариф): Указан на аппарате

    2. Абонементная плата (абонемент) включает в себя:

    - выдачу в аренду Зарядного устройства на срок 24 часа без ограничений по времени его использования и количества обменов разряженных Зарядных устройств на Заряженные зарядные устройства.

    - выдачу в аренду Зарядного устройства на срок 24 часа без ограничений по времени его использования и количества обменов разряженных Зарядных устройств на заряженные Зарядные устройства.

    Стоимость тарифа: 99 рублей 00 копеек за абонемент.

    В случае невозврата/порчи/неисправности по вине пользователя Зарядного устройства Арендодатель в праве списать с карты пользователя в безотзывном порядке полную стоимость Зарядного устройства.

    Полная стоимость Зарядного устройства: 2500 рублей 00 копеек.



    ПРИЛОЖЕНИЕ №4

    К ПОЛЬЗОВАТЕЛЬСКОМУ СОГЛАШЕНИЮ

    СОГЛАШЕНИЕ ОБ ОБРАБОТКЕ ПЕРСОНАЛЬНЫХ ДАННЫХ

    1. Пользователь дает свое согласие на обработку Арендодателем предоставленных им (а также полученных от любых третьих лиц) своих персональных данных: ФИО, дата, месяц и год рождения, место рождения, серия и номер удостоверяющего личность документа (паспорта или иного заменяющего его документа), сведения об адресе регистрации по месту жительства, контактные данные, в том числе (но не ограничиваясь) номер телефона, адрес электронной почты, биометрические данные (фотографии), данные о месте работы, должности, также иные персональные данные, связанные с заключением и исполнением Пользовательского соглашения, и подтверждает, что давая такое согласие, действует по своей воле и в своих интересах.

    2. Согласие на обработку персональных данных дается Пользователем для целей заключения и исполнения Пользовательского соглашения, оказания Арендодателем дополнительных услуг, участия в проводимых Арендодателем акциях, опросах, исследованиях (включая, но не ограничиваясь проведением опросов, исследований посредством электронной, телефонной и сотовой связи), принятия решений или совершения иных действий, порождающих юридические последствия в отношении Пользователя или других лиц, представления Пользователю информации об оказываемых Арендодателем услугах, предоставлением Арендодателем консультационных услуг, в том числе в целях заключения Пользователем в дальнейшем договоров/соглашений с иными лицами в целях исполнения Пользовательского соглашения, и распространяется на всю информацию, указанную в пункте 1 настоящего Приложения.

    3. Обработка персональных данных Пользователя осуществляется Арендодателем в объеме, который необходим для достижения каждой из вышеперечисленных целей, следующими возможными способами: сбор, запись (в том числе на электронные носители), систематизация, накопление, хранение, составление перечней, маркировка, уточнение (обновление, изменение), извлечение, использование, передача (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение, трансграничная передача персональных данных, получение изображения путем фотографирования, а также осуществление любых иных действий с персональными данными Пользователя с учетом действующего законодательства Российской Федерации. Обработка осуществляется как с помощью средств автоматизации, так и без использования таких средств.

    4. Пользователь подтверждает, что данное им согласие на обработку персональных данных действует бессрочно с момента их предоставления Пользователем Арендодателю.

    5. Пользователь вправе отозвать свое согласие на обработку персональных данных путем направления соответствующего письменного уведомления Арендодателю не менее чем за 30 (тридцать календарных) дней до момента отзыва согласия.

    6. Пользователь признает и подтверждает, что в случае необходимости предоставления персональных данных для достижения указанных выше целей третьему лицу (в том числе уполномоченным государственным органам), а равно как при привлечении третьих лиц к выполнению работ (оказанию услуг), предусмотренных Пользовательским соглашением, передачи Арендодателем принадлежащих ему функций и полномочий иному лицу (уступке, в том числе для рассмотрения возможности уступки и принятию решения об уступке, взысканию задолженности и др.), Арендодатель вправе без получения дополнительного согласия со стороны Пользователя в необходимом объеме раскрывать для совершения вышеуказанных действий информацию о Пользователе лично (включая персональные данные) таким третьим лицам, их агентам и иным уполномоченным ими лицам, а также представлять таким лицам соответствующие документы, содержащие такую информацию, с соблюдением требований законодательства Российской Федерации.

    7. Пользователь признает и подтверждает, что согласие на обработку персональных данных Пользователя считается данным им любым третьим лицам, с учетом соответствующих изменений, и любые такие третьи лица имеют право на обработку персональных данных на основании настоящего согласия.

    8. Пользователь признает и подтверждает, что в случае рассмотрения Арендодателем вопросов уступки прав по заключенным с Пользователем Пользовательского соглашениям согласие на передачу его персональных данных и данных о его Пользовательском соглашении третьим лицам – потенциальным цессионариям для решения ими вопроса о заключении с Арендодателем Пользовательского соглашения цессии – считается предоставленным Пользователем Арендодателю. В случае уступки прав по Пользовательскому соглашению Арендодатель вправе не направлять Пользователю уведомления об этом. Настоящим Пользователь соглашается не получать каких-либо уведомлений о совершенной Арендодателем уступке в соответствии с настоящим пунктом Приложения.

    9. Пользователь дает свое согласие на получение от Арендодателя рекламных сообщений, содержащих рекламу товаров и услуг, реализуемых Арендодателем и/или его партнерами и/или иными третьими лицами, на адрес электронной почты и номер мобильного телефона (включая привязанные к нему аккаунты в мессенджерах WhatsApp, Viber, Telegram и пр.), указанные Пользователем в процессе Регистрации, а также иные адреса электронной почты и номера мобильных телефонов (включая привязанные к ним аккаунты в мессенджерах WhatsApp, Viber, Telegram и пр.), сообщенные Пользователем Арендодателю в соответствии с настоящим Приложением. В случае, если Пользователь обращается к Арендодателю с требованием прекратить распространение в его адрес рекламных сообщений, Арендодатель обязуется немедленно прекратить такое распространение в отношении Пользователя, обратившегося с соответствующим требованием.

    10. Пользователь дает согласие на списание Арендодателем или по его поручению привлеченным им агентом (платежной системой) денежных средств со своей банковской карты в счет погашения любых платежей, предусмотренных настоящим Приложением к нему в без акцептном порядке, без получения дополнительного согласия Пользователя, в том числе, таким образом списываются вознаграждения за предоставление Сервиса «Power Now», штрафы, пени, возмещение убытков, расходы и издержки Арендодателя, возникающие в связи 10 с неисполнением или ненадлежащим исполнением Пользовательского соглашения, суммы дополнительных страховок, суммы франшизы, иные суммы в случаях, предусмотренных действующим законодательством Российской Федерации и Пользовательским соглашением.

    11. Пользователь дает свое согласие на осуществление Арендодателем записи контактов (разговоров) Пользователя со Службой поддержки и предоставление такой записи третьим лицам.

    12. Пользователь понимает и соглашается, что Автомат может использовать функцию фотофиксации / режим видеосъемки Пользователя, в связи с чем Пользователь предоставляет Арендодателю право на использование своего изображения в соответствии со статьей 152.1 Гражданского кодекса РФ.



    ПРИЛОЖЕНИЕ №5

    К ПОЛЬЗОВАТЕЛЬСКОМУ СОГЛАШЕНИЮ

    ТРЕБОВАНИЯ ПЛАТЕЖНОЙ СИСТЕМЫ

    Платежи. Оплата банковской картой онлайн

    Наш сайт подключен к интернет-эквайрингу, и Вы можете оплатить Товар банковской картой Visa, MasterCard, Maestro и МИР. После подтверждения выбранного Товара откроется защищенное окно с платежной страницей Яндекс.касса, где Вам необходимо ввести данные Вашей банковской карты. Для дополнительной аутентификации держателя карты используется протокол 3D Secure. Если Ваш Банк поддерживает данную технологию, Вы будете перенаправлены на его сервер для дополнительной идентификации. Информацию о правилах и методах дополнительной идентификации уточняйте в Банке, выдавшем Вам банковскую карту.

    Гарантии безопасности

    Интернет эквайринг Яндекс.касса защищает и обрабатывает данные Вашей банковской карты по стандарту безопасности PCI DSS 3.2. Передача информации в платежный шлюз происходит с применением технологии шифрования SSL. Дальнейшая передача информации происходит по закрытым банковским сетям, имеющим наивысший уровень надежности. Яндекс.касса не передает данные Вашей карты нам и иным третьим лицам. Для дополнительной аутентификации держателя карты используется протокол 3D Secure.

    В случае, если у Вас есть вопросы по совершенному платежу, Вы можете обратиться в службу поддержки клиентов платежного сервиса по электронной почтеsupport@cloudpayments.ru.



    Безопасность онлайн платежей

    Предоставляемая Вами персональная информация (имя, адрес, телефон, e-mail, номер кредитной карты) является конфиденциальной и не подлежит разглашению. Данные Вашей кредитной карты передаются только в зашифрованном виде и не сохраняются на нашем Web-сервере.

    Мы рекомендуем вам проверить, что ваш браузер достаточно безопасен для проведения платежей онлайн, на специальной странице.

    Безопасность обработки Интернет-платежей гарантирует ООО «КлаудПэйментс». Все операции с платежными картами происходят в соответствии с требованиями VISA International, MasterCard и других платежных систем. При передаче информации используются специальные технологии безопасности карточных онлайн-платежей, обработка данных ведется на безопасном высокотехнологичном сервере процессинговой компании.

    Возврат товаров

    Постановление Правительства РФ от 19 января 1998 г. В случае обнаружения недостатков товара, свойства которого не позволяют устранить их (продовольственные товары, парфюмерно-косметические изделия, товары бытовой химии и другие товары), покупатель вправе по своему выбору потребовать замены такого товара товаром надлежащего качества либо соразмерного уменьшения покупной цены. Вместо предъявления указанных требований покупатель вправе отказаться от приобретенного товара и потребовать возврата уплаченной за товар денежной суммы. При этом покупатель по требованию продавца и за его счет должен возвратить полученный товар ненадлежащего качества.

    Конфиденциальность

    Федеральный закон РФ № 152-ФЗ «О персональных данных» — федеральный закон, регулирующий деятельность по обработке (использованию) персональных данных.

    1. Определения

    Интернет проект www.power-now.ru (далее – URL, «мы») серьезно относится к вопросу конфиденциальности информации своих клиентов и посетителей сайта www.power-now.ru (далее – «вы», «посетители сайта»). Персонифицированной мы называем информацию, содержащую персональные данные (например: ФИО, логин или название компании) посетителя сайта, а также информацию о действиях, совершаемых вами на сайте URL. (например: заказ посетителя сайта с его контактной информацией). Анонимными мы называем данные, которые невозможно однозначно идентифицировать с конкретным посетителем сайта (например: статистика посещаемости сайта).

    2. Использование информации

    Мы используем персонифицированную информацию конкретного посетителя сайта исключительно для обеспечения ему качественного оказания услуг и их учета. Мы не раскрываем персонифицированных данных одних посетителей сайта URL другим посетителям сайта. Мы никогда не публикуем персонифицированную информацию в открытом доступе и не передаем ее третьим лицам. Исключением являются лишь ситуации, когда предоставление такой информации уполномоченным государственным органам предписано действующим законодательством Российской Федерации. Мы публикуем и распространяем только отчеты, построенные на основании собранных анонимных данных. При этом отчеты не содержат информацию, по которой было бы возможным идентифицировать персонифицированные данные пользователей услуг. Мы также используем анонимные данные для внутреннего анализа, целью которого является развитие продуктов и услуг URL

    3. Ссылки

    Сайт www.power-now.ru может содержать ссылки на другие сайты, не имеющие отношения к нашей компании и принадлежащие третьим лицам. Мы не несем ответственности за точность, полноту и достоверность сведений, размещенных на сайтах третьих лиц, и не берем на себя никаких обязательств по сохранению конфиденциальности информации, оставленной вами на таких сайтах.

    4. Ограничение ответственности

    Мы делаем все возможное для соблюдения настоящей политики конфиденциальности, однако, мы не можем гарантировать сохранность информации в случае воздействия факторов, находящихся вне нашего влияния, результатом действия которых станет раскрытие информации. Сайт www.power-now.ru и вся размещенная на нем информация представлены по принципу "как есть” без каких-либо гарантий. Мы не несем ответственности за неблагоприятные последствия, а также за любые убытки, причиненные вследствие ограничения доступа к сайту URL или вследствие посещения сайта и использования размещенной на нем информации.

    5. Контакты

    По вопросам, касающимся настоящей политики, просьба обращаться по адресу support@power-now.ru

    Юридическое лицо

    Индивидуальный предприниматель Хашимов Мирзоахрулло Мирзонарзуллоевич
    ОГРН ИП 317774600552890 от 24.11.2017
    ИНН 971506537601
    ОКПО 0123086997
    127566, г. Москва, Юрловский проезд, д. 14, корп. 4, кв. 324
    Расчетный счет: 40802810000000067382
    Наименование банка АО "РАЙФФАЙЗЕНБАНК"
    БИК 044525700
    Кор. Счет 30101810200000000700
    ИНН/КПП 7720418796/773101001


</div>