@page
@model Pages.Info.CooperationModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="row m-b-lg">
        <div class="col-12">
            <div class="col-offset-xs-1"></div>
            <div class="col-xs-10">
                <span class="pb-orange-style pb-text-17-light">
                    Powerbank предоставляются в заведения <span class="pb-text-17-bold">бесплатно</span>
                </span>
            </div>
        </div>
    </div>

    <div class="row m-b-lg">

    </div>

    <div class="row m-b-lg">
        <div class="col-12">
            <div class="col-offset-xs-1"></div>
            <div class="col-xs-11">
                <span class="pb-orange-style pb-text-17-bold">
                    По вопросам размещения Power Now в вашей локации и предложений:
                </span>
            </div>
        </div>
    </div>

    <div class="row m-b-sm">
        <div class="col-12">
            <div class="col-xs-2">
                <img src="~/css/patterns/phone.png" class="left" style="width: 15px; height: 16px;" />
            </div>
            <div class="col-xs-10">
                <p class="pb-text-17-light">+7 499 999 99 99</p>
            </div>
        </div>
    </div>

    <div class="row m-b-lg">
        <div class="col-12">
            <div class="col-xs-2">
                <img src="~/css/patterns/pen.png" class="left" style="width: 16px; height: 16px;" />
            </div>
            <div class="col-xs-10">
                <p class="pb-text-17-light">power.now@gmail.com</p>
            </div>
        </div>
    </div>

    <div class="row">
        <img src="~/css/patterns/city.png" class="img-responsive" style="width: 187px; height: 176px; margin: auto" />
    </div>
</div>