@page
@model Pages.Info.HelpModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container row">

    <div class="row m-b-lg">
    </div>

    <div class="col-12">
        <div class="ibox pb-style collapsed">
            <div class="ibox-title pb-style">
                <div class="row">
                    <div class="col-xs-10">
                        <span class="pb-text-17-normal">Как получить Power Now?</span>
                    </div>
                    <div class="col-xs-2">
                        <a class="collapse-link right" style="padding-bottom: 10px; color: #16bdf0 !important">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="ibox-content pb-style">
                <div class="row col-12">
                    <div class="col-xs-10">
                        <p class="pb-grey-style pb-text-13-light">
                            &#9679; Зайти на сайт: <a href="https://power-now.ru/">https://power-now.ru/</a>
                        </p>
                        <p class="pb-grey-style pb-text-13-light">
                            &#9679; Зарегистрироваться
                        </p>
                        <p class="pb-grey-style pb-text-13-light">
                            &#9679; Выбрать аппарат на карте или ввести номер аппарата
                        </p>
                        <p class="pb-grey-style pb-text-13-light">
                            &#9679; Указать данные карты и подтвердить их получив смс от банка
                        </p>
                        <p class="pb-grey-style pb-text-13-light">
                            &#9679; Далее ожидать у аппарата выдачи батареи
                        </p>
                    </div>
                </div>
            </div>
        </div>









        <div class="ibox pb-style collapsed">
            <div class="ibox-title pb-style">
                <div class="row">
                    <div class="col-xs-10">
                        <span class="pb-text-17-normal">Как вернуть Power Now?</span>
                    </div>
                    <div class="col-xs-2">
                        <a class="collapse-link right" style="padding-bottom: 10px; color: #16bdf0 !important">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="ibox-content pb-style">
                <div class="row col-12">
                    <div class="col-xs-10">
                        <p class="pb-grey-style pb-text-13-light">
                            &#9679; Необходимо найти ближайший аппарат
                        </p>
                        <p class="pb-grey-style pb-text-13-light">
                            &#9679; Вставить пауэрбанк в свободную ячейку до щелчка и убедиться в том, что рядом с ним загорелась синяя лампочка.
                        </p>
                        <p class="pb-grey-style pb-text-13-light">
                            Если счетчик не остановился через 30 секунд, проверьте ваше соединение с интернетом и обновите страницу, если и это не помогло, свяжитесь со службой поддержки по телефону:
                        </p>
                        <p class="pb-grey-style pb-text-13-light">
                            <a>+7 800 222 46 84</a> (бесплатно по России)
                        </p>
                    </div>
                </div>
            </div>
        </div>






        <div class="ibox pb-style collapsed">
            <div class="ibox-title pb-style">
                <div class="row">
                    <div class="col-xs-10">
                        <span class="pb-text-17-normal">Не можете вернуть Power Now?</span>
                    </div>
                    <div class="col-xs-2">
                        <a class="collapse-link right" style="padding-bottom: 10px; color: #16bdf0 !important">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="ibox-content pb-style">
                <div class="row col-12">
                    <div class="col-xs-10">
                        <p class="pb-grey-style pb-text-13-light">
                            Скорее всего станция переполнена другими пауэрбанками. Вам необходимо найти ближайшую станцию со свободными ячейками на сайте и вернуть Power Now в аппарат. Так же, возможно, что Ваш Power Now имеет повреждения и поэтому вернуть его не получается. Обратитесь в службу поддержки по телефону:
                        </p>
                        <p class="pb-grey-style pb-text-13-light">
                            <a>+7 800 222 46 84</a> (бесплатно по России)
                        </p>
                        <p class="pb-grey-style pb-text-13-light">
                            Станции расположены по всему городу. Актуальную информацию по местам их размещения, вы можете найти на сайте:
                        </p>
                        <p class="pb-grey-style pb-text-13-light">
                            <a href="https://power-now.ru/">https://power-now.ru/</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>











        <div class="ibox pb-style collapsed">
            <div class="ibox-title pb-style">
                <div class="row">
                    <div class="col-xs-10">
                        <span class="pb-text-17-normal">Сколько стоит аренда Power Now?</span>
                    </div>
                    <div class="col-xs-2">
                        <a class="collapse-link right" style="padding-bottom: 10px; color: #16bdf0 !important">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="ibox-content pb-style">
                <div class="row col-12">
                    <div class="col-xs-10">
                        <p class="pb-grey-style pb-text-13-light">
                            Аренда Power Now стоит 49 руб/час или 99 руб/сутки. После часа пользования тарификация автоматический меняется на 99 руб/сутки и вы можете пользоваться Power Now в течение суток.  Деньги списываются с Вашей карты согласно счетчику времени пользования пауэрбанком. В различных местах и заведениях стоимость аренды может отличаться. Актуальную тарификацию можете найти на сайте/приложении при выборе станции. Максимальный срок аренды составляет 5 календарных дней, после чего списывается стоимость пауэрбанка в размере 2500 руб.
                        </p>
                    </div>
                </div>
            </div>
        </div>









        <div class="ibox pb-style collapsed">
            <div class="ibox-title pb-style">
                <div class="row">
                    <div class="col-xs-10">
                        <span class="pb-text-17-normal">Проблемы с пауэрбанком?</span>
                    </div>
                    <div class="col-xs-2">
                        <a class="collapse-link right" style="padding-bottom: 10px; color: #16bdf0 !important">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="ibox-content pb-style">
                <div class="row col-12">
                    <div class="col-xs-10">
                        <p class="pb-grey-style pb-text-13-light">
                            Вам необходимо обратиться в техническую поддержку для решения вопроса: <a>+7 800 222 46 84</a> (бесплатно по России)
                        </p>
                    </div>
                </div>
            </div>
        </div>










        <div class="ibox pb-style collapsed">
            <div class="ibox-title pb-style">
                <div class="row">
                    <div class="col-xs-10">
                        <span class="pb-text-17-normal">Можно ли обменять разряженный Power Now на заряженный?</span>
                    </div>
                    <div class="col-xs-2">
                        <a class="collapse-link right" style="padding-bottom: 10px; color: #16bdf0 !important">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="ibox-content pb-style">
                <div class="row col-12">
                    <div class="col-xs-10">
                        <p class="pb-grey-style pb-text-13-light">
                            Вы можете вернуть разряженный Power Now в любую станцию и получить новый на стандартных условиях.
                        </p>
                    </div>
                </div>
            </div>
        </div>








        <div class="ibox pb-style collapsed">
            <div class="ibox-title pb-style">
                <div class="row">
                    <div class="col-xs-10">
                        <span class="pb-text-17-normal">Сколько Power Now можно взять на один аккаунт?</span>
                    </div>
                    <div class="col-xs-2">
                        <a class="collapse-link right" style="padding-bottom: 10px; color: #16bdf0 !important">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="ibox-content pb-style">
                <div class="row col-12">
                    <div class="col-xs-10">
                        <p class="pb-grey-style pb-text-13-light">
                            Один
                        </p>
                    </div>
                </div>
            </div>
        </div>








        <div class="ibox pb-style collapsed">
            <div class="ibox-title pb-style">
                <div class="row">
                    <div class="col-xs-10">
                        <span class="pb-text-17-normal">С карты продолжают списывать средства</span>
                    </div>
                    <div class="col-xs-2">
                        <a class="collapse-link right" style="padding-bottom: 10px; color: #16bdf0 !important">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="ibox-content pb-style">
                <div class="row col-12">
                    <div class="col-xs-10">
                        <p class="pb-grey-style pb-text-13-light">
                            Обратитесь в службу поддержки по телефону: <a>+7 800 222 46 84</a> (бесплатно по России)
                        </p>
                    </div>
                </div>
            </div>
        </div>



        <div class="ibox pb-style collapsed">
            <div class="ibox-title pb-style">
                <div class="row">
                    <div class="col-xs-10">
                        <span class="pb-text-17-normal">Не могу зарегистрироваться на сайте</span>
                    </div>
                    <div class="col-xs-2">
                        <a class="collapse-link right" style="padding-bottom: 10px; color: #16bdf0 !important">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="ibox-content pb-style">
                <div class="row col-12">
                    <div class="col-xs-10">
                        <p class="pb-grey-style pb-text-13-light">
                            Обратитесь в службу поддержки по телефону: <a>+7 800 222 46 84</a> (бесплатно по России)
                        </p>
                    </div>
                </div>
            </div>
        </div>




        <div class="ibox pb-style collapsed">
            <div class="ibox-title pb-style">
                <div class="row">
                    <div class="col-xs-10">
                        <span class="pb-text-17-normal">В аппарате нет Power Now</span>
                    </div>
                    <div class="col-xs-2">
                        <a class="collapse-link right" style="padding-bottom: 10px; color: #16bdf0 !important">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="ibox-content pb-style">
                <div class="row col-12">
                    <div class="col-xs-10">
                        <p class="pb-grey-style pb-text-13-light">
                            Зайдите на сайт и найдите на карте ближайшую к Вам станцию с Power Now в наличии.
                        </p>
                    </div>
                </div>
            </div>
        </div>






        <div class="ibox pb-style collapsed">
            <div class="ibox-title pb-style">
                <div class="row">
                    <div class="col-xs-10">
                        <span class="pb-text-17-normal">Не работает аппарат</span>
                    </div>
                    <div class="col-xs-2">
                        <a class="collapse-link right" style="padding-bottom: 10px; color: #16bdf0 !important">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="ibox-content pb-style">
                <div class="row col-12">
                    <div class="col-xs-10">
                        <p class="pb-grey-style pb-text-13-light">
                            Обратитесь в службу поддержки по телефону: <a>+7 800 222 46 84</a> (бесплатно по России)
                        </p>
                    </div>
                </div>
            </div>
        </div>








        <div class="ibox pb-style collapsed">
            <div class="ibox-title pb-style">
                <div class="row">
                    <div class="col-xs-10">
                        <span class="pb-text-17-normal">После считывания QR-code ничего не происходит</span>
                    </div>
                    <div class="col-xs-2">
                        <a class="collapse-link right" style="padding-bottom: 10px; color: #16bdf0 !important">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="ibox-content pb-style">
                <div class="row col-12">
                    <div class="col-xs-10">
                        <p class="pb-grey-style pb-text-13-light">
                            Убедитесь, что вы считываете QR-code через сайт <a href="https://power-now.ru/">https://power-now.ru/</a>
                        </p>
                        <p class="pb-grey-style pb-text-13-light">
                            Убедитесь, что вы считываете QR-code на аппарате с Power Now.
                        </p>
                        <p class="pb-grey-style pb-text-13-light">
                            Если проблема не решена Обратитесь в службу поддержки по телефону: <a>+7 800 222 46 84</a> (бесплатно по России)
                        </p>
                    </div>
                </div>
            </div>
        </div>









        <div class="ibox pb-style collapsed">
            <div class="ibox-title pb-style">
                <div class="row">
                    <div class="col-xs-10">
                        <span class="pb-text-17-normal">Аренда началась, но Power Now не выдаётся</span>
                    </div>
                    <div class="col-xs-2">
                        <a class="collapse-link right" style="padding-bottom: 10px; color: #16bdf0 !important">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="ibox-content pb-style">
                <div class="row col-12">
                    <div class="col-xs-10">
                        <p class="pb-grey-style pb-text-13-light">
                            Внимательней посмотрите на все Power Now в этом аппарате, тот, который выдаётся, выглядывает выше остальных и на нём мигает лампочка, и его можно вынуть из слота, так как он разблокирован.
                        </p>
                        <p class="pb-grey-style pb-text-13-light">
                            Попробуйте потянуть каждый Power Now, если ни один не вытягивается, то обратитесь в службу поддержки по телефону:
                        </p>
                        <p class="pb-grey-style pb-text-13-light">
                            <a>+7 800 222 46 84</a> (бесплатно по России)
                        </p>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>