@page
@model Pages.Info.HelpModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="row">
        <div class="text-center m-t-lg m-b-lg">
            <p class="p-power-now-bold-13">ПОМОЩЬ</p>
        </div>
    </div>
</div>