@page
@model Pages.Info.PricesModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container row">
    <div class="row m-b-sm">
        <div class="col-12">
            <div class="col-xs-8">
                <span class="pb-text-20-bold">1 час</span>
            </div>
            <div class="col-xs-4 right">
                <span class="pb-text-20-light">49 ₽</span>
            </div>
        </div>
    </div>

    <div class="row m-b-lg">
        <div class="col-12">
            <div class="col-xs-8">
                <span class="pb-text-20-bold">После 1 часа</span>
            </div>
            <div class="col-xs-4 right">
                <span class="pb-text-20-light">50 ₽</span>
            </div>
        </div>
    </div>

    <div class="row m-b-lg">
        <div class="col-12">
            <div class="col-offset-xs-1"></div>
            <div class="col-xs-11">
                <span class="pb-grey-style pb-text-13-light">
                    Средства списываются с вашей карты согласно счетчика времени пользования павербанком. Максимальный срок аренды составляет 20 календарных дней подряд, после чего павербанк считается выкупленным.
                </span>
                <br/><br/>
                <span class="pb-grey-style pb-text-13-light">
                    Ознакомиться с Пользовательским соглашением можно 
                </span>
                <span class="pb-orange-style pb-text-13-light">
                    здесь
                </span>
            </div>
        </div>
    </div>

    @*<div class="row">
        <div class="col-12">
            <div class="col-offset-xs-1"></div>
            <div class="col-xs-11">
                <p class="pb-text-20-bold">Как получить баллы?</p>
            </div>
        </div>
    </div>

    <div class="row m-b-sm">
        <div class="col-12">
            <div class="col-offset-xs-1"></div>
            <div class="col-xs-11">
                <span class="pb-orange-style pb-text-17-light">
                    Зарегистрируйся на нашем сайтеи получи 
                </span>
                <span class="pb-orange-style pb-text-17-bold">
                    49 баллов
                </span>
                <br/><br/>
                <span class="pb-orange-style pb-text-17-light">
                    А далее <span class="pb-text-17-bold">10%</span> от суммы каждой аренды powerbank будет зачисляться тебе в баллы
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="col-offset-xs-1"></div>
            <div class="col-xs-11">
                <span class="pb-text-20-bold">1 балл = 1 ₽</span>
            </div>
        </div>
    </div>*@
</div>